@charset "utf-8";

html { border-top: 2px solid #fff; }
body {
	margin: 0; padding: 0;
	background: rgb(249,249,249) url('../img/bg-stone.png') repeat-x top center;
}
a#tabzilla {
	margin: auto 10%;
}