@charset "utf-8";

html { border-top: 2px solid #fff; }
body {
	color: #444;
	margin: 0; padding: 0;
	font: 16px Sans-serif;
	background: rgb(249,249,249) url('../img/bg-stone.png') repeat-x top center;
}
a#tabzilla {
	margin: 0 10%;
}
header {
	margin: 5% 20%;
	font-family: "Open Sans";
}
header > * {
	margin: 0 auto;
	font-weight: normal;
}
header h1 {
	color: #60676f;
	font-size: 500%;
	line-height: 80px;
	letter-spacing: -2px;
	text-shadow: 0 1px 1px #fff, 0 -1px 1px #333;
}
section {
	margin: 5% 20%;
}
section h2 {
	margin-top: 32px;
}
section pre {
	color: #333;
	font-size: 12px;
	padding: 4px 8px;
	border-radius: 4px;
	border: 1px solid #ccc;
	background: rgba(255, 255, 255, 0.5);
}
section pre#localeStruct {
	float: right;
	margin: 0 0 0 16px;
}
footer {
	clear: both;
	height: 64px;
}

#tabzilla-panel #tabzilla-nav ul li#tabzilla-search select  {
    color: #484848;
    margin: 0.4em 20px;
    text-transform: none;
}
